$md-palette: (
  50: #efedff,
  100: #d1d6ef,
  200: #b8bbd8,
  300: #9da0c1,
  400: #888caf,
  500: #73789e,
  600: #646a8d,
  700: #525775,
  800: #41445f,
  900: #2d3047,
  contrast: (
    50: #fffbde,
    100: #fbf6d9,
    200: #f5f0d3,
    300: #e7e2c6,
    400: #c4bfa4,
    500: #a5a086,
    600: #7b775e,
    700: #67634b,
    800: #47442d,
    900: #25230c,
    A100: #cad4da,
    A200: #a9b7c0,
    A400: #6e8594,
    A700: #3b505c
  )
);
