<mat-card class="wrapper">
  <mat-card-title style="color: white;" class="mat-headline-2 mt-8 mb-4 pl-8">
    {{ headerText }}
  </mat-card-title>
  <mat-card-content>
    <mat-card class="large content-card">
      <image-carousel
        [imageNames]="imageNames ?? []"
        fixedHeight="270px"
      />
      <link-button
        text="See More"
        link="www.google.com"
        [color]="primaryColor"
        [disabled]="true"
        matTooltip="Detailed explanation coming soon!"
      />
    </mat-card>
    <div class="link-container">
      <mat-card class="small content-card">
        <mat-card-title class="mat-headline-2 my-4 pl-8">Front End</mat-card-title>
        <mat-card-content>
          <project-link-wrapper [links]="frontendLinks ?? []" />
        </mat-card-content>
      </mat-card>
      <mat-card class="small content-card">
        <mat-card-title class="mat-headline-2 my-4 pl-8">Back End</mat-card-title>
        <mat-card-content>
          <project-link-wrapper [links]="backendLinks ?? []" />
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>
