#app-wrapper {
  margin: 0;
  height: 100dvh;
  width: 100dvw;
  background: #EDEDED;
  &::ng-deep {
    #route-component-base {
      padding: 32px;
    }
    mat-card.primary-content-card {
      border-radius: 15px;
    }
  }
}
