<div class="wrapper">
  <button
    mat-raised-button
    [ngStyle]="disabled ? {} : {
      backgroundColor: color,
      color: textColor,
    }"
    [ngClass]="{disabled}"
    class="large width-100"
    [disabled]="disabled"
    (click)="goTo()"
  >
    <ng-content />
  </button>
  @if(iconName != undefined) {
    <div class="icon-container">
      <img [src]="_iconSourceBase + iconName" alt="icon">
    </div>
  }
  <a href="https://www.google.com" target="_blank" style="display: none"></a>
</div>
