<div class="wrapper">
  <button
    mat-raised-button
    [ngStyle]="disabled ? {} : {
      backgroundColor: color,
      color: textColor,
    }"
    [ngClass]="{disabled}"
    class="large width-100"
    [disabled]="disabled"
    (click)="goTo()"
  >
    <div
      class="link-button-content"
      [ngClass]="{'short-content': text.length <= 8}"
    >
      <div>
        <div>
          @if(!!iconName) {
            <img [src]="'assets/' + iconName" [alt]="iconName">
          }
        </div>
        <div>{{ text }}</div>
        <div></div>
      </div>
    </div>
  </button>
</div>
