<div class="wrapper">
  <button
    mat-raised-button
    [ngStyle]="disabled ? {} : {
      backgroundColor: color,
      color: textColor,
    }"
    [ngClass]="{disabled}"
    class="large width-100"
    [disabled]="disabled"
    (click)="goTo()"
  >
    <div
      class="link-button-content"
      [ngClass]="{'short-content': text.length <= 8}"
    >
      <div>
        <div>
          @if(!!iconName) {
            <img [src]="'assets/' + iconName" [alt]="iconName">
          }
        </div>
        <div>{{ text }}</div>
        <div></div>
      </div>
    </div>
  </button>
  @if(!!status) {
    <div class="status-report-button-container">
<!--      @if(showOnboarding) {-->
<!--        <div id="status-report-onboarding-container" (click)="hideOnboarding()">-->
<!--          <span>See Status Report</span>-->
<!--          <mat-icon>arrow_downward</mat-icon>-->
<!--        </div>-->
<!--      }-->
      <button #statusReportButton mat-icon-button class="status-report-button" (click)="openStatusReport()">
        <mat-icon>info_outline</mat-icon>
      </button>
    </div>
  }
</div>
