<div id="route-component-base" class="wrapper mat-headline-1">
  <profile-content />
  <mat-card id="projects-header" class="primary-content-card mt-8 d-flex">
    <div class="mat-headline-2 my-4 pl-8">Projects</div>
  </mat-card>
  @for(project of PROJECTS; track project; let i = $index) {
    <div [ngClass]="!i ? 'mt-6' : 'mt-8'">
      <project-wrapper
        [headerText]="project.title"
        [frontendLinks]="project.frontendLinks"
        [backendLinks]="project.backendLinks"
        [imageNames]="project.imageNames"
        [imageDirectory]="project.imageDirectory"
        [disableSeeMore]="!!project.disableSeeMore"
      />
    </div>
  }
  <mat-card id="this-project-link" class="primary-content-card mt-8">
    <mat-card-title class="mat-headline-2 mt-8 mb-4 pl-8" style="color: white">
      Portfolio Site
    </mat-card-title>
    <mat-card-content>
      <mat-card class="link-wrapper">
        <mat-card-content>
          <link-button
            text="See The Code"
            [color]="COMMON_COLORS['GITHUB']"
            link="www.github.com/dev-dominic-1/portfolio-site-angular"
            iconName="github-custom.png"
          />
        </mat-card-content>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>
