@use "../../theme/theme" as theme;
@use "../../styles" as display;
@import "../../breakpoints";



#this-project-link {
  background: theme.get-palette-primary(900);
  & link-button::ng-deep>.wrapper {
    max-width: 600px;
    min-width: 250px;
    margin: auto;
  }
}

@media (width <= $tablet) {
  #projects-header {
    margin-top: 20px !important;
  }
}
